body {
    width: 100%;
    margin: 0 auto;
    background-color: white;
    color: gray;
    font-family: Cambria, Georgia, serif;
    align-content: center;
}

.header {
    padding-top: 5px;
    margin-top: 3px !important;
    width: 100%;
    overflow: hidden;
}

.header-menu {
    width: 85%;
    font-weight: bold;  
    padding-bottom: 50px;
    margin: 0 auto;
}

.menu-main-container {    
    height: inherit;
    width: 100%;
}

.menu {
    padding-left: 40px;
    padding-right: 40px;
}

.menu ul {
    margin-top: 2px;
    margin-bottom: 2px;
    width: 100%;
}

.menu li {
    width: 20%;
    float: left;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
    text-decoration: none;
    position: relative;   
    list-style-type: none;
}

.menu a {
    text-decoration: none;
    color: #494948;
}

.menu a:hover {
    color: #999
}

.content {
    margin: 0 auto;
    width: 80%;
    min-height: 400px;
}

.staff {
    height: 30px;
    width: 100%;
    display: table;
}

.home-separator {
    height: 25px;
}

.home-post {
    text-align: center;
    min-height: 250px;
    overflow: hidden;
    color: #494948;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 1%;    
}

.home-post-left {
    text-align: center;
    min-height: 250px;
    overflow: hidden;
    color: #494948;
    background-color: #ebebe0;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 1%;
}

.home-post-content {
    text-align: justify;
}

.home-post-content-left {
    overflow: hidden;
    float: left;
    width:47%;
    padding-right: 3%;
}

.home-post-content-right {
    overflow: hidden;
    width:47%;
    padding-left: 3%;
    float: right;
}

.home-post-img-left {
    overflow: hidden;
    float: left;
    width:50%;
    border-radius: 2%;
}

.home-post-img-right {
    overflow: hidden;
    width:50%;
    border-radius: 2%;
}

.footer {
    width: 85%;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 20px;
}


.footer-copyrights {
    width: 65%;
    float: left;
    font-size: 12px;
    vertical-align: bottom;
}
.footer-contact {
    margin-left: 65%;
    overflow: hidden;
}

.footer-contact table {
    width: 100%;
}

.footer-contact-left {
    width: 80%;
    text-align: right;
    padding-right: 10px;
    font-size: 14px;
}

.footer-contact-right {
    text-align: left;
    font-size: 16px;
    text-decoration-style: solid;
    font-weight: bold;
}


.single-post {
    width: 100%;
    position: relative;

}

.single-post img {
    width: 100%;
    border-radius: 5%;

}

.single-post-header {
    text-align: center;
    width:100%;
    margin-bottom: 30px;
}


.single-post-content {
    position: absolute;
    color: #999;
    float: right;
    width: 85%;
    min-height: 200px;
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 5%;
    padding: 10px;
    background-color: black;
    filter: alpha(opacity=60);
    opacity: 0.6;
    z-index: 10000;
    border: solid 3px darkgray;
    font-size: 13.2px;
}

.single-post-content h3 {
    font-weight:normal;
}

.contact-form {
    display: table-row;
}

.contact-form-header {
    font-size: 24px;
    text-align: center;
    width: 100%;
    overflow: hidden;
    float: top;
}

.contact-form-form {
    width: 50%;
    float: left;
    overflow: hidden;
    display: table-cell;
}

.contact-form-separator {
    height: 35px;
}

.contact-form-data {
    font-size: 26px;
    text-align: left;
}


.contact-form-form input {
    margin: 10px;
    width: 80%;
    border-radius: 0.4em;
    border-color: grey;
    border-width: 2px;
    padding: 3px;

}

.contact-form-form  textarea {
    margin: 10px;
    border-radius: 0.4em;
    border-color: grey;
    width: 80%;
    min-height: 100px;
}

.contact-form-form input.button {
    width: 20%;
    height: auto;
    min-height: 25px;
}


.contact-form-form input.small  {
    float: left;
    width: 50%;
}

.contact-form-img {
    float: left;
    width: 50%;  
    display: table-cell;
}

.contact-form-img img {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 0.8em;
    width:100%;
    height: auto;

}

.auto-scale-img {
    width:100%;
    height: auto;
}

.contact-info {
}

.contact-text {
    text-align: center;
    width: 50%;   
    min-height: 350px;
    overflow: hidden;
    color: #494948;   
    float: left;
    padding-top: 5%;
}
.contact-text-header {
    text-align: center;
    overflow: hidden;
    font-size: 22px;
}

.contact-text-content {
    text-align: center;
    overflow: hidden;
    font-size: 18px;
}

.contact-img {
    width:50%;
    height: auto;
    border-radius: 2%;
    overflow: hidden;
    float: right;
}

.biography-post-text {
    text-align: justify;
    width: 100%;   
    min-height: 350px;
    overflow: hidden;
    color: #494948;   
    float: left;
}
.biography-post-header {
    text-align: center;
    overflow: hidden;
    font-size: 22px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.biography-post-content {
    overflow: hidden;
    text-align: justify;
}

.biography-post-img {
    width:50%;
    height: auto;
    border-radius: 2%;
    overflow: hidden;
    float: left;
    margin: 16px;
}


.footer_content {
    margin: 0 auto;
    width: 85%;
    min-height: 30px;
    color: #494948;    
}

.footer_left {
    width:50%;
    overflow: hidden;
    float: left;
    text-align: left;
}

.footer_right {
    width:50%;
    overflow: hidden;
    float: right;
    text-align: right;
}

.news-post-white {
    text-align: center;
    width: 100%;   
    min-height: 100px;
    overflow: hidden;
    color: #494948; 
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 0.5%;    
}

.news-post-grey {
    text-align: center;
    width: 100%;   
    min-height: 100px;
    overflow: hidden;
    color: #494948; 
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #ebebe0;
    border-radius: 0.5%;    
}

.news-post-img {
    overflow: hidden;
    width:24%;
    border-radius: 2%;    
    float: left;
    margin-left: 1%;
}

.news-post-content-column {
    width:75%;
    float: right;
}

.news-post-header {
    overflow: hidden;
    float: left;
    width:94%;
    padding-left: 3%;    
    padding-right: 3%;    
}

.news-post-content {
    text-align: justify;
    overflow: hidden;
    width:94%;
    padding-right: 3%;    
    padding-left: 3%;
}